.all{
    padding: 7px;
}

.all label{
    padding: 0px 7px;
     color: white;
  font-weight: bold;
  font-size: 14px;
}

.all select {
  width: 130px;      /* ancho del select */
  height: 30px;   
  border-radius: 10px;
  border: 1px solid rgb(9, 11, 12);
  background-color: aquamarine;
  color: black;        /* color del texto dentro del select */
  padding: 5px 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  outline: none;
}
/* Hover igual que botones */
.all select:hover {
  background-color: rgb(253, 255, 254);
  color: #d10303;
}
/* Opcional: placeholder de los options si querés un estilo uniforme */
.all select option {
  background-color: aquamarine;
  color: black;
}